---
interface Props {
  year: number
  education: string
  institution: string
  description: string
  connect?: boolean
}

const { year, education, institution, description, connect } = Astro.props
---

<div class="flex gap-5 items-start relative">
  {
    connect && (
      <div class="w-1 h-[17rem] md:h-40 lg:h-60 bg-clr-blue absolute left-8 xl:left-9 top-16" />
    )
  }
  <p class="bg-clr-blue text-white px-3 py-5 rounded-full">{year}</p>

  <div class="space-y-2">
    <h4 class="text-3xl text-clr-yellow font-medium">{education}</h4>
    <div
      class="text-clr-primary flex gap-3 items-center font-medium md:text-2xl dark:text-white"
    >
      <div class="w-16 h-1 rounded-sm bg-clr-primary dark:bg-white"></div>
      <p>{institution}</p>
    </div>
    <p>
      {description}
    </p>
  </div>
</div>
